workflow-boleto-condominio.json
{
  "name": "BrCondo - Boleto Condomínio",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad540bd6-0148-4686-92b7-9b27a34a2506",
      "name": "Tem Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai o link do boleto BrCondo do email\n// Suporta todas as estruturas de dados do Gmail Trigger (simple e full)\nconst results = [];\n\nfunction decodeBase64Url(data) {\n  const base64 = data.replace(/-/g, '+').replace(/_/g, '/');\n  return Buffer.from(base64, 'base64').toString('utf-8');\n}\n\nfunction extractBodyTexts(emailData) {\n  const texts = [];\n\n  // 1. Campos diretos (simple: true)\n  if (emailData.textPlain) texts.push(emailData.textPlain);\n  if (emailData.textHtml) texts.push(emailData.textHtml);\n\n  // 2. Snippet (sempre presente)\n  if (emailData.snippet) texts.push(emailData.snippet);\n\n  // 3. payload.body.data (email sem multipart)\n  if (emailData.payload && emailData.payload.body && emailData.payload.body.data) {\n    texts.push(decodeBase64Url(emailData.payload.body.data));\n  }\n\n  // 4. payload.parts (multipart)\n  if (emailData.payload && emailData.payload.parts) {\n    for (const part of emailData.payload.parts) {\n      if (part.body && part.body.data) {\n        texts.push(decodeBase64Url(part.body.data));\n      }\n      // Sub-parts (multipart aninhado)\n      if (part.parts) {\n        for (const subPart of part.parts) {\n          if (subPart.body && subPart.body.data) {\n            texts.push(decodeBase64Url(subPart.body.data));\n          }\n        }\n      }\n    }\n  }\n\n  // 5. Busca no JSON inteiro como fallback\n  if (texts.length === 0) {\n    texts.push(JSON.stringify(emailData));\n  }\n\n  return texts;\n}\n\nfor (const item of $input.all()) {\n  const emailData = item.json;\n  const subject = emailData.subject || emailData.payload?.headers?.find(h => h.name === 'Subject')?.value || '';\n  const allTexts = extractBodyTexts(emailData);\n  const combined = allTexts.join(' ');\n\n  // Extrai o link do Bill\n  const billRegex = /https:\\/\\/ssl\\.brcondos\\.com\\.br\\/Bill\\/([a-f0-9\\-]{36})/i;\n  const match = combined.match(billRegex);\n\n  if (match) {\n    results.push({\n      json: {\n        subject: subject,\n        billUuid: match[1],\n        billUrl: `https://ssl.brcondos.com.br/Bill/${match[1]}`,\n        messageId: emailData.id || emailData.messageId || ''\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  throw new Error('Nenhum link de boleto encontrado nos emails. Verifique se o email contém o link ssl.brcondos.com.br/Bill/...');\n}\n\nreturn results;"
      },
      "id": "2118ac3c-963f-459b-82de-12322116bebd",
      "name": "Extrair Link do Boleto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.billUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "806e6586-425f-4ad3-8066-664c38cdacc5",
      "name": "Acessar Página do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai o link direto do PDF da página do boleto\nconst html = $input.first().json.data;\nconst billUuid = $('Extrair Link do Boleto').first().json.billUuid;\nconst subject = $('Extrair Link do Boleto').first().json.subject;\n\n// Procura o link do PDF na página\n// Formato: https://ssl.brcondos.com.br/BillPDF/{uuid}/{nome-do-arquivo}\nconst pdfRegex = /https:\\/\\/ssl\\.brcondos\\.com\\.br\\/BillPDF\\/[^\"'\\s]+/i;\nconst match = html.match(pdfRegex);\n\nlet pdfUrl;\n\nif (match) {\n  // Limpa possíveis caracteres HTML no final\n  pdfUrl = match[0].replace(/[\"'<>]/g, '');\n} else {\n  // Fallback: constrói a URL do PDF a partir do UUID\n  pdfUrl = `https://ssl.brcondos.com.br/BillPDF/${billUuid}/Boleto`;\n}\n\nreturn [{\n  json: {\n    pdfUrl: pdfUrl,\n    billUuid: billUuid,\n    subject: subject\n  }\n}];"
      },
      "id": "2e9c5f18-7c48-476b-bf37-98eb01a255a9",
      "name": "Extrair URL do PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.pdfUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "137421f6-446e-4b6b-b37b-e447904d715d",
      "name": "Baixar PDF do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "54859439",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Extrair Link do Boleto').first().json.subject }}",
          "fileName": "Boleto-Condominio.pdf"
        }
      },
      "id": "58730d64-1da0-4387-9bd8-1012e2b34a7f",
      "name": "Enviar PDF via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        0
      ],
      "webhookId": "93ef5815-ca40-4462-b065-7ad9c8d3dfb2",
      "credentials": {
        "telegramApi": {
          "id": "c8kX1VEc7IT1WPSV",
          "name": "Telegram Bot (GB Secretary)"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 30
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:Boleto",
          "sender": "contato@brcondos.com.br"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        112
      ],
      "id": "e7354ab0-17f8-44d0-90ee-1e62a2427fe4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1BHkBB6q8RWjB7e",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Tem Email?": {
      "main": [
        [
          {
            "node": "Extrair Link do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Link do Boleto": {
      "main": [
        [
          {
            "node": "Acessar Página do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acessar Página do Boleto": {
      "main": [
        [
          {
            "node": "Extrair URL do PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair URL do PDF": {
      "main": [
        [
          {
            "node": "Baixar PDF do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar PDF do Boleto": {
      "main": [
        [
          {
            "node": "Enviar PDF via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Tem Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b49ea838-36ee-4fdb-8414-85dea4399be6",
  "meta": {
    "instanceId": "72c8d5665f796cb2335ff8e19d5dec3636d3a71e2bd85048398a0c1b3cf881e2"
  },
  "id": "UvV9xz2Lj4DhWNCF",
  "tags": [
    {
      "name": "BrCondo",
      "id": "1bAJald2friIX6MX",
      "updatedAt": "2026-03-01T20:54:45.634Z",
      "createdAt": "2026-03-01T20:54:45.634Z"
    },
    {
      "name": "Condomínio",
      "id": "42qz0aBeQrN9CZmi",
      "updatedAt": "2026-03-01T20:54:45.682Z",
      "createdAt": "2026-03-01T20:54:45.682Z"
    },
    {
      "name": "Boleto",
      "id": "g0vocDsBBwtJaQdq",
      "updatedAt": "2026-03-01T20:54:45.658Z",
      "createdAt": "2026-03-01T20:54:45.658Z"
    }
  ]
}