workflow-boleto-condominio.json
{
  "name": "BrCondo - Boleto Condomínio",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Agendamento Diário 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 5,
        "simple": true,
        "filters": {
          "sender": "contato@brcondos.com.br",
          "subject": "Boleto",
          "readStatus": "unread"
        }
      },
      "id": "gmail-buscar-emails",
      "name": "Gmail - Buscar Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        40,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-tem-email",
      "name": "Tem Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Processa cada email encontrado\nconst results = [];\n\nfor (const item of $input.all()) {\n  const subject = item.json.subject || '';\n  let body = '';\n\n  // Tenta obter o corpo do email em texto ou HTML\n  if (item.json.textPlain) {\n    body = item.json.textPlain;\n  } else if (item.json.textHtml) {\n    body = item.json.textHtml;\n  } else if (item.json.payload && item.json.payload.body && item.json.payload.body.data) {\n    // Decodifica base64url\n    const base64 = item.json.payload.body.data.replace(/-/g, '+').replace(/_/g, '/');\n    body = Buffer.from(base64, 'base64').toString('utf-8');\n  }\n\n  // Extrai o link do Bill (formato: https://ssl.brcondos.com.br/Bill/{uuid})\n  const billRegex = /https:\\/\\/ssl\\.brcondos\\.com\\.br\\/Bill\\/([a-f0-9\\-]{36})/i;\n  const match = body.match(billRegex);\n\n  if (match) {\n    const billUuid = match[1];\n    const billUrl = `https://ssl.brcondos.com.br/Bill/${billUuid}`;\n\n    results.push({\n      json: {\n        subject: subject,\n        billUuid: billUuid,\n        billUrl: billUrl,\n        messageId: item.json.id || item.json.messageId || ''\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  throw new Error('Nenhum link de boleto encontrado nos emails.');\n}\n\nreturn results;"
      },
      "id": "code-extrair-link",
      "name": "Extrair Link do Boleto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.billUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-acessar-pagina-bill",
      "name": "Acessar Página do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai o link direto do PDF da página do boleto\nconst html = $input.first().json.data;\nconst billUuid = $('Extrair Link do Boleto').first().json.billUuid;\nconst subject = $('Extrair Link do Boleto').first().json.subject;\n\n// Procura o link do PDF na página\n// Formato: https://ssl.brcondos.com.br/BillPDF/{uuid}/{nome-do-arquivo}\nconst pdfRegex = /https:\\/\\/ssl\\.brcondos\\.com\\.br\\/BillPDF\\/[^\"'\\s]+/i;\nconst match = html.match(pdfRegex);\n\nlet pdfUrl;\n\nif (match) {\n  // Limpa possíveis caracteres HTML no final\n  pdfUrl = match[0].replace(/[\"'<>]/g, '');\n} else {\n  // Fallback: constrói a URL do PDF a partir do UUID\n  pdfUrl = `https://ssl.brcondos.com.br/BillPDF/${billUuid}/Boleto`;\n}\n\nreturn [{\n  json: {\n    pdfUrl: pdfUrl,\n    billUuid: billUuid,\n    subject: subject\n  }\n}];"
      },
      "id": "code-extrair-pdf-url",
      "name": "Extrair URL do PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.pdfUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "http-baixar-pdf",
      "name": "Baixar PDF do Boleto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        200
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "54859439",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ $('Extrair Link do Boleto').first().json.subject }}",
          "fileName": "Boleto-Condominio.pdf"
        }
      },
      "id": "telegram-enviar-pdf",
      "name": "Enviar PDF via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1480,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Agendamento Diário 8h": {
      "main": [
        [
          {
            "node": "Gmail - Buscar Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Buscar Emails": {
      "main": [
        [
          {
            "node": "Tem Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Email?": {
      "main": [
        [
          {
            "node": "Extrair Link do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Link do Boleto": {
      "main": [
        [
          {
            "node": "Acessar Página do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acessar Página do Boleto": {
      "main": [
        [
          {
            "node": "Extrair URL do PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair URL do PDF": {
      "main": [
        [
          {
            "node": "Baixar PDF do Boleto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar PDF do Boleto": {
      "main": [
        [
          {
            "node": "Enviar PDF via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    {
      "name": "BrCondo"
    },
    {
      "name": "Boleto"
    },
    {
      "name": "Condomínio"
    }
  ]
}
